*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  background: url('https://66.media.tumblr.com/a639bda231b0f3a803643073e4df0d63/tumblr_oy1ql1bPTh1u21nzho1_1280.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

}