@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Staatliches&display=swap');


.details {
  margin: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color:rgba(159, 144, 175, 0.623);


  &__img{
    width: 90%;
    transform: 
    translateY(-60px);
  }

  &__gem{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    transform:
    translateX(-120px)
    translateY(0px);
    border-radius: 20px;

    &--img {
      width: 80px;
    }

    &--name{
      font-family: 'Staatliches', cursive;
    }
  }
    
  &__info{
      display: flex;
      flex-direction: column;
      justify-content: center;
       align-items: center;

      &--name{
        font-family: 'Ubuntu', sans-serif;
      }

      &--nicknames{
        text-transform: uppercase;
        font-size: small;
      }
    }
  }

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}