@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');

.preview {
  width: 200px;
  height: 270px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color:rgba(159, 144, 175, 0.623);
    margin-bottom: 10px;
  }
  
  &__info{
      
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(159, 144, 175, 0.623);
    border-radius: 3px;
    width: 180px;
    padding: 2px;

    &--gem {
    height: 30px;
    }

    &--name {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }

  }

}