@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');


.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__label{
    font-family: 'Ubuntu', sans-serif;
  }

  &__input{
    border-radius: 2px;
    font-size: 15px;
    padding: 2px;
    border-style: none;
    font-family: 'Ubuntu', sans-serif;
  }
}


.Collapsible{ 
    margin: 40px;
    font-family: 'Ubuntu', sans-serif;

  &__trigger {
    color: hotpink;
    cursor: pointer;
    background: white;
  }

  &__contentOuter{

  }

  &__contentInner{
  }
}

.collapsible__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }