@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');


.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0;

  &__label{
    font-family: 'Ubuntu', sans-serif;

  }

  &__input{
    border-radius: 2px;
    font-size: 15px;
    padding: 2px;
    border-style: none;
    font-family: 'Ubuntu', sans-serif;
  }
    
  &__collapsible{
    cursor: pointer;
  }
}
